asgiref==3.7.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
boto3==1.14.32
botocore==1.17.32
certifi==2024.2.2
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
cloudinary==1.39.1
constantly==23.10.4
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
daphne==4.1.0
dj-database-url==2.1.0
Django==5.0.1
django-appconf==1.0.4
django-cloudinary-storage==0.3.0
django-crispy-forms==1.9.2
django-imagekit==5.0.0
django-storages==1.14.2
django-taggit==5.0.1
docutils==0.15.2
fonttools==4.50.0
gunicorn==21.2.0
hyperlink==21.0.0
idna==3.6
image==1.5.33
incremental==22.10.0
jmespath==0.10.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pilkit==3.0
pillow==10.2.0
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
s3transfer==0.3.7
scipy==1.12.0
service-identity==24.1.0
setuptools==69.2.0
six==1.16.0
sqlparse==0.4.4
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
zope.interface==6.2
