{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="{% static 'blog/img/favicon.png' %}" type="image/gif" sizes="16x16">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="GedPaRkoPpgoSh8qzpNe2KM5gomtmE6Ag_2WQZvqiuY" />
  <meta name="google-adsense-account" content="ca-pub-2148545246219629">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block title %}{% endblock %}
  <meta name="description"
    content="Rishabh Kumar is the founder of Livyn. This is a social media app.">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2148545246219629"
    crossorigin="anonymous"></script>

  <style>
    html,
    body {
      height: 100%;
      /* Ensure the body takes full height */
      margin: 0;
      /* Remove default margin */
    }

    body {
      display: flex;
      flex-direction: column;
      /* Arrange elements in a column */
      margin-top: 10px;
      /* Small gap at the top */
    }

    main {
      flex: 1;
      margin-top: 56px;
      /* Adjust based on your navbar height */
    }


    .footer {
      background: #f8f9fa;
      /* Footer background color */
      padding: 10px 0;
      /* Footer padding */
      text-align: center;
      /* Center footer text */
    }


    @media (max-width: 768px) {
      body {
        margin-top: 20px;
        /* Optional: you can keep this if you want space from the top */
      }

      .navbar-mobile {
        position: fixed;
        /* Keep the navbar fixed */
        bottom: 0;
        /* Fix it to the bottom of the screen */
        left: 0;
        right: 0;
        z-index: 1000;
        /* Ensure it is on top */
        
        /* Adjust font size as needed */
      }

      main {
        flex: 1;
        margin-top: 2px;
        /* Keep minimal margin at the top */
      }

      .footer {
        display: block;
        /* Ensure footer is displayed */
      }
    }
  </style>
</head>

<body>
  <header class="site-header">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top d-none d-md-block">
      {% else %}
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        {% endif %}

        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog:home' %}"><span class="ncc-title">Liv</span><span
              class="buddies-title">yn</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto"></div>
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <a style="color: whitesmoke;" class="nav-item nav-link" href="{% url 'blog:home' %}">Home</a>
              <a style="color: whitesmoke;" class="nav-item nav-link" href="{% url 'blog:search' %}">Search</a>
              <a style="color: whitesmoke;" class="nav-item nav-link"
                href="{% url 'profile' request.user.username %}">Profile</a>
              <a style="color: whitesmoke;" class="nav-item nav-link" href="{% url 'chat:chat_list' %}">Chat <i
                  class="fa-brands fa-rocketchat"></i></a>
              <a style="color: whitesmoke;" class="nav-item nav-link"
                href="{% url 'blog:notifications' request.user.username %}"><i class="fa-solid fa-bell"></i> <span
                  class="badge badge-light" style="display: none;" id="notifications-count"></span></a>
              {% else %}
              <a style="color: whitesmoke;" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a style="color: whitesmoke;" class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

      {% if user.is_authenticated %}
      <div class="d-block d-md-none">
        <nav class="navbar navbar-mobile navbar-expand-sm navbar-dark bg-blue">
          <div class="icon-navbar">
            <a style="color: whitesmoke;" class="nav-link-2" href="{% url 'blog:home' %}"><i
                class="fa-solid fa-home"></i></a>
          </div>
          <div class="icon-navbar">
            <a style="color: whitesmoke;" class="nav-link-2" href="{% url 'blog:search' %}"><i
                class="fa-solid fa-search"></i></a>
          </div>
          <div class="icon-navbar">
            <a style="color: whitesmoke;" class="nav-link-2"
              href="{% url 'blog:notifications' request.user.username %}"><i class="fa-solid fa-bell"></i><small><span
                  class="badge-color" id="notifications-count-2" style="display: none;"></span></small></a>
          </div>
          <div class="icon-navbar">
            <a style="color: whitesmoke;" class="nav-link-2" href="{% url 'profile' request.user.username %}"><i
                class="fa-solid fa-user"></i></a>
          </div>
        </nav>
      </div>
      {% endif %}
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-lg-4">
        <div class="content-section-sidebar" id="facts-div">
          {% if quotes %}
          <h3 class="sidebar-heading">{{ quotes.heading }}</h3>
          <a href="{{ quotes.quotes_link }}" style="text-decoration: none; color: black;">
            <p>{{ quotes.quotes_text }}</p>
          </a>
          {% else %}
          <h3 class="sidebar-heading">Quotes</h3>
          <a href="https://sahil87096.pythonanywhere.com/quote/authors/rishabh-sahil/en"
            style="text-decoration: none; color: black;">
            <p>‶You can only win when your mind is stronger than your emotions.‶</p>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <a href="https://portfolio-flask-application.vercel.app/">Portfolio</a>
    <a href="https://ig.me/m/rishabhsahill">Contact</a>
    <a href="https://github.com/rishabhsahilll">Contribute</a>
    <div class="tag-line">
      <a href="https://www.instagram.com/rishabhsahill/">LIVYN</a> <a href="">MADE WITH ❤️ IN INDIA</a>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/js/infinite.min.js' %}"></script>

  {% block script %}{% endblock %}

  {% if user.is_authenticated %}
  <script type="text/javascript">
    $(document).ready(function () {
      $.ajax({
        url: "{% url 'blog:notifications-count' request.user.username %}",
        type: 'get',
        success: function (data) {
          if (data.count === 0) {
            $('#notifications-count').hide();
            $('#notifications-count-2').hide();
          } else {
            $('#notifications-count').show();
            $('#notifications-count-2').show();
            $('#notifications-count').text(data.count);
            $('#notifications-count-2').text(data.count);
          }
        }
      });
    });
  </script>
  {% endif %}
</body>

</html>